.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  cursor: pointer;
  text-decoration: none;
  @include transition(color);
  &:hover,
  &:focus {
    color: $accent-color-blue;
  }
}
.section-title {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.section-title--hidden {
  display: none;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.social-media {
  @extend %centeredFlex;
  margin-bottom: 30px;
}

.social-media__item {
  width: 44px;
  height: 44px;
  box-shadow: none;
  @extend %centeredFlex;
  margin-right: 10px;
  border-radius: 50%;
  @include transition(background-color);
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    background-color: $accent-color-blue;
    cursor: pointer;
  }
}

.social-media__link {
  @extend %centeredFlex;
}
.social-media__icon {
  fill: $light-grey-color;
  .social-media__item:hover & {
    fill: $primary-white-color;
  }
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
