.features-section {
  padding: 94px;
}
.features-list__item:not(:last-child) {
  margin-right: 30px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.features-list__item::before {
  content: '';
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.features-list__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}
.features-list__item--antenna::before {
  background-image: url(../images/antenna.svg);
}
.features-list__item--clock::before {
  background-image: url(../images/clock.svg);
}
.features-list__item--diagram::before {
  background-image: url(../images/diagram.svg);
}
.features-list__item--astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.features-list__text {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71em;
  color: $accent-color-grey;
}
