.hero-section {
  padding: 94px;
  padding: 200px 0 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #c4c4c4;
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    letter-spacing: 6%;
    color: $primary-white-color;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 696px;
  }
}

.hero-button {
  @include common-button(200px, 50px);
  font-family: $main-font;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 32px;
  @include transition(background-color);
  &:hover {
    background-color: #188ce8;
  }
}
