.team-section {
  background-color: $bg-section-color;
  padding: 94px;
}
.team-list {
  @extend %space-betweenFlex;
}

.team-card {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $primary-white-color;
  padding: 30px auto;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.team-card__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.name-box {
  margin-bottom: 16px;
  &:first-child {
    width: 151px;
  }
}
.team-card__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.03em;
  color: $accent-color-grey;
}
